/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */



/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
    font-family: roboto, sans-serif;
    color: rgb(62, 62, 62);
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/


body {
    background-color: #ffc369;
    /* background-image: url(img/banner.png) */

}

header {
    padding-top: 15px;
    height: 10%;
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 10px;
    box-shadow: 0px 1px 10px rgba(34, 34, 34, 0.3);
    background-color: rgb(221, 135, 255);
}

.flex-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#logo {
    font-family: pacifico;
    color: #36163f;
}

.menu{
    margin-left: 50%;
    color: rgb(255, 252, 249);
    font-size: 15px;
}

.menu a:hover {
    color:  #d9fb5c;
}

.picture-01{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.img-01 {
    max-width: 100%;
    width: 300px;
    padding: 2%;
}

h1{
    text-align: center;
    padding: 5%;
    font-size: 30px;
    color: #3b3b3b;
}

h2{
    text-align: center;
    padding-bottom: 2%;
}

main {
    max-width: 80%;
    margin: auto;
    text-align: center;
    padding: 5%;
    background-color: rgb(250, 224, 209);
}

.name-container {
    width: 100%;
    padding: 2% 5%;
}

#link-behance{
    font-weight:500;
}

#link-behance:hover{
    color: #5ca9fb;
}

.download {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download{
    padding: 5%;
}

button {
    margin: 0% 5%;
    padding: 1% 5%;
    background-color: rgb(239, 87, 176);
    border-radius: 15px;
    border-color: rgb(239, 87, 176);
    color: aliceblue;
}

.dark-color {
    margin: 5%;
    border-radius: 15px;
    background-color: rgb(163, 226, 197);
}

.talk-co    ntainer {
    /* background-color: #ffe48d; */
    width: 100%;
    padding: 2% 5%;
    text-align: center;
}

footer {
    padding: 5%;
    text-align: center;
}

.clearfix {
    clear: both;
}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/